.board {
  background-color: #ececec;
  display: flex;
  width: 100%;
  height: 105%;
  overflow: hidden;
  justify-content: center;
  margin-top: -5%;
  z-index: -1;
}

.board-container {
  -webkit-perspective: 1500px; 
  perspective: 1500px;
}

.grid-items{
  width: 49.5rem;
  height: 49.5rem;
  background-color: transparent; 
  border: 1px solid black;
  box-shadow: 0 0 0.2rem black;
  -webkit-transform: rotateZ(0deg);
  transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.grid-item {
  width: 1.5rem;
  height: 1.5rem;
  float: left;
  margin: 0 0 0 0;
  /* transform: translate3d(0,0, 0.01px); */
  position: relative;
  background-color: white;
  border: 0.075rem solid rgba(128, 128, 128, 0.3);
  box-sizing: content-box;
  cursor: pointer;
}

.grid-item:before{
    position:absolute;
    content:'';
    width: 1.5rem;
    height: 1.5rem;
    background:white;
    -webkit-transition: all 0.3s; 
    transition: all 0.3s;
    pointer-events: none;
  }

.origin-marker, .destination-marker {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  transform: translate3d(0,0,20px);
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  cursor:pointer;
  transform: translateY(0) rotate(-45deg);
}

.origin-marker {
  background: #de493c;
}

.destination-marker {
  background: #269ccc;
}

#origin, #destination {
  cursor: pointer;
}

.origin-marker-ran {
  background: #de493c;
  transform: translate3d(0,0,0.5rem);
  /* border: 1px solid #ffffff3f; */
  box-shadow: 1px 1px 0px #de493c,
              2px 2px 0px  #de493c,
              3px 3px 0px  #de493c,
              4px 4px 0px  #de493c
}

.destination-marker-ran {
  background: #269ccc;
  transform: translate3d(0,0,0.5rem);
  box-shadow: 1px 1px 0px #269ccc,
              2px 2px 0px  #269ccc,
              3px 3px 0px  #269ccc,
              4px 4px 0px  #269ccc
}

.origin-pulsate:after, .destination-pulsate:after {
  content: "";
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  position: absolute;
  margin: -1rem 0 0 -1rem;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  animation-delay: 1s;
  z-index: 10;
}

.origin-pulsate:after {
  box-shadow: 0 0 1px 2px #de493c;
}

.destination-pulsate:after {
  box-shadow: 0 0 1px 2px #269ccc;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
  z-index: 10;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}


/* .grid-item:hover:before{
  background:#eccc3d;
  -webkit-transform: translate3d(0,0,0.5rem);
  transform: translate3d(0,0,0.5rem);
  box-shadow:30px 30px 10px rgba(0,0,0,0.5);
}
 */