.navbar{
    display: flex;
    width: 100%;
    height: 7%;
    background-color: #ececec;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-header-title{
    color: black;
    font-size: 1.5rem;
    margin-left: 2rem;
}
.navbar-items{
    display: flex;
    justify-items: stretch;
    align-items: center;
}

.navbar-item{
    color: black;
    margin-left: 20px;
    font-size: 1rem;
}

.run-path-finder{
    display: inline-block;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.run-path-finder:hover{
    background: #dfdfdf;
    padding: 8px;
    border: 1px solid #ffffff;
}


.reset-path-finder{
    text-transform: uppercase;
    background: white;
    font-size: 0.8rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    display: inline-block;
    border: none;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.reset-path-finder:hover{
    background: #dfdfdf;
    border: 1px solid #ffffff;
    padding: 8px;
}